Repository robertgorbul/detectify-coding-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:css --fix, yarn lint:js --cache --fix, yarn prettier

Setup React Testing Library
  config/jest.setup.ts
  jest.config.js
  package.json
  yarn.lock
Due: yarn lint:js --cache --fix, yarn prettier

Put Traefik logs into log file
  .gitignore
  docker-compose.yml
  docker/traefik/traefik.yml
Due: none

Add classnames package
  package.json
  yarn.lock
Due: none

Rename application docker image
  .drone.yml
Due: none

Add uuid lib
  package.json
  yarn.lock
Due: none

Create home page, NotesEditor component, components updates
  pages/index.tsx
  src/assets/data.ts
  src/assets/icons.ts
  src/components/ActionButton/ActionButton.types.ts
  src/components/ActionButton/index.tsx
  src/components/Button/Button.types.ts
  src/components/Button/index.tsx
  src/components/Icon/Icon.types.ts
  src/components/List/List.types.ts
  src/components/List/index.tsx
  src/components/ListItem/ListItem.types.ts
  src/components/ListItem/index.tsx
  src/components/Note/Note.types.ts
  src/components/Note/index.tsx
  src/components/NotesEditor/index.tsx
  src/types/index.ts
Due: yarn lint:js --cache --fix, yarn prettier

Create SearchBar component
  pages/index.tsx
  src/components/ActionButton/index.tsx
  src/components/List/index.tsx
  src/components/ListItem/index.tsx
  src/components/Note/Note.types.ts
  src/components/Note/index.tsx
  src/components/NotesEditor/index.tsx
  src/components/SearchBar/SearchBar.types.ts
  src/components/SearchBar/index.tsx
  tailwind.config.js
Due: yarn lint:js --cache --fix, yarn prettier

Responsive styles
  src/components/List/index.tsx
  src/components/ListItem/index.tsx
  src/components/Note/index.tsx
  src/components/SearchBar/index.tsx
Due: yarn lint:js --cache --fix, yarn prettier

Initial tests
  .babelrc
  .drone.yml
  jest.config.js
  package.json
  src/components/ActionButton/__tests__/ActionButton.test.tsx
  src/components/Button/__tests__/Button.test.tsx
  src/components/Icon/__tests__/Icon.test.tsx
  src/components/Icon/index.tsx
Due: yarn lint:js --cache --fix, yarn prettier

Update CI tests step
  .drone.yml
Due: none

Add localStorage support
  package.json
  src/assets/data.ts
  src/components/Note/Note.types.ts
  src/components/NotesEditor/index.tsx
  src/components/SearchBar/SearchBar.types.ts
  src/components/SearchBar/index.tsx
  src/hooks/useNotes.ts
  yarn.lock
Due: yarn lint:js --cache --fix, yarn prettier

Limit note content length
  .babelrc
  jest.config.js
  src/components/ListItem/index.tsx
  src/components/Note/index.tsx
  src/config/index.ts
  src/css/reset.css
  tsconfig.json
Due: yarn lint:css --fix, yarn lint:js --cache --fix, yarn prettier

Add categories field, styling updates
  src/components/List/index.tsx
  src/components/Note/index.tsx
  src/components/NotesEditor/index.tsx
  src/components/SearchBar/index.tsx
  src/hooks/useNotes.ts
Due: yarn lint:js --cache --fix, yarn prettier

Support multiple categories
  src/assets/icons.ts
  src/components/ActionButton/index.tsx
  src/components/CategoriesToolbar/CategoriesToolbar.types.ts
  src/components/CategoriesToolbar/index.tsx
  src/components/CategoryToggle/CategoryToggle.types.ts
  src/components/CategoryToggle/index.tsx
  src/components/Icon/__tests__/Icon.test.tsx
  src/components/Note/index.tsx
  src/components/NotesEditor/index.tsx
  src/components/SearchBar/SearchBar.types.ts
  src/components/SearchBar/index.tsx
  src/config/index.ts
  src/utils/index.ts
Due: yarn lint:js --cache --fix, yarn prettier

Remove filter bar, search bar fix
  src/components/NotesEditor/index.tsx
  src/components/SearchBar/index.tsx
Due: yarn lint:js --cache --fix, yarn prettier

Readme update
  README.md
Due: none

Add meta description
  pages/index.tsx
Due: yarn lint:js --cache --fix, yarn prettier

Move use-local-storage-state from devDependencies to dependencies
  package.json
Due: none

TailwindCSS jit, NotesList component, improvements
  .eslintrc.js
  package.json
  postcss.config.js
  src/components/ActionButton/ActionButton.module.css
  src/components/ActionButton/index.tsx
  src/components/Button/Button.types.ts
  src/components/Button/index.tsx
  src/components/CategoriesToolbar/CategoriesToolbar.types.ts
  src/components/CategoriesToolbar/index.tsx
  src/components/Note/index.tsx
  src/components/NotesEditor/index.tsx
  src/components/NotesList/NotesList.types.ts
  src/components/NotesList/index.tsx
  src/components/SearchBar/index.tsx
  src/css/typography.css
  yarn.lock
Due: yarn lint:css --fix, yarn lint:js --cache --fix, yarn prettier

Add ts-jest, mock css module
  .eslintrc.js
  jest.config.js
  next-env.d.ts
  package.json
  src/components/ActionButton/__tests__/ActionButton.test.tsx
  yarn.lock
Due: yarn lint:js --cache --fix, yarn prettier

Add filter toolbar
  src/components/CategoriesToolbar/index.tsx
  src/components/CategoryToggle/index.tsx
  src/components/FilterToolbar/FilterToolbar.types.tsx
  src/components/FilterToolbar/index.tsx
  src/components/Note/Note.types.ts
  src/components/NotesEditor/index.tsx
  src/components/NotesList/index.tsx
  src/components/SearchBar/index.tsx
Due: yarn lint:js --cache --fix, yarn prettier

Stabilize items interactions
  src/components/NotesEditor/index.tsx
Due: yarn lint:js --cache --fix, yarn prettier

Update husky and lint-staged config
  .gitignore
  .husky/post-commit
  .husky/pre-commit
  .lintstagedrc.json
  package.json
Due: none

Remove autofocus, make use of variants
  src/components/FilterToolbar/index.tsx
  src/components/Note/index.tsx
  src/components/SearchBar/index.tsx
Due: yarn lint:js --cache --fix, yarn prettier

Run tests after build step
  .drone.yml
Due: none

Allow to add multiple classes with fonts hook, Framer Motion 4
  package.json
  src/components/NotesEditor/index.tsx
  src/hooks/useFontLoadingApi.ts
  yarn.lock
Due: yarn lint:js --cache --fix, yarn prettier

Reconfigure linting and lint-staged commands
  .eslintignore
  .gitignore
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  .stylelintignore
  README.md
  package.json
  pages/_app.tsx
Due: yarn lint:js --cache --fix, yarn prettier

Add next-compose-plugins
  next.config.js
  package.json
  yarn.lock
Due: yarn lint:js --cache --fix, yarn prettier

Import TailwindCSS within core.css
  pages/_app.tsx
  src/css/components.css
  src/css/core.css
  src/css/tailwind.css
  src/css/utilities.css
  yarn.lock
Due: yarn lint:css --fix, yarn lint:js --cache --fix, yarn prettier

Bump packages
  package.json
  yarn.lock
Due: none

Next.js 10.1
  next.config.js
  package.json
  yarn.lock
Due: yarn lint:js --cache --fix, yarn prettier

Remove ActionButton component
  src/components/ActionButton/ActionButton.module.css
  src/components/ActionButton/ActionButton.types.ts
  src/components/ActionButton/__tests__/ActionButton.test.tsx
  src/components/ActionButton/index.tsx
  src/components/Button/Button.types.ts
  src/components/Button/__tests__/Button.test.tsx
  src/components/Button/index.tsx
  src/components/CategoryToggle/index.tsx
  src/components/FilterToolbar/index.tsx
  src/components/ListItem/index.tsx
  src/components/Note/index.tsx
  src/components/NotesEditor/index.tsx
  src/components/SearchBar/index.tsx
Due: yarn lint:css --fix, yarn lint:js --cache --fix, yarn prettier

Revert classnames to 2.2.6
  package.json
  yarn.lock
Due: none

Don't render children for action buttons
  src/components/Button/__tests__/Button.test.tsx
  src/components/Button/index.tsx
Due: yarn lint:js --cache --fix, yarn prettier

classnames v2.3.1
  package.json
  yarn.lock
Due: none

TailwindCSS 2.1
  package.json
  postcss.config.js
  tailwind.config.js
  yarn.lock
Due: yarn lint:js --cache --fix, yarn prettier

Remove demo link
  README.md
Due: none

Path conditions:
  yarn lint:css --fix: any of: *.css
  yarn lint:js --cache --fix: any of: *.{js,jsx,ts,tsx}
  yarn prettier: any of: *.{js,jsx,ts,tsx,css}
